/******************************
INDEX:
    00 - General
    01 - Typography
    02 - Text Color & Background Color
    03 - Background Position & Size
    04 - Helper class
    05 - Social icons
    06 - Header
    07 - Bootstrap Overwrite 
    08 - Swiper 
    09 - Scroll To Top 
    10 - Search Box
******************************/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--pbmit-global-color: #ecab23;
	--pbmit-global-color-rgb: 236, 171, 35;
	--pbmit-secondary-color: #16222d;
	--pbmit-secondary-color-rgb: 22, 34, 45;
	--pbmit-light-color: #ecf0f4;
	--pbmit-white-color: #ffffff;
	--pbmit-white-color-rgb: 255, 255, 255;
	--pbmit-blackish-color: #16222d;
	--pbmit-blackish-color-rgb: 22, 34, 45;
	--pbmit-link-color-normal: #16222d;
	--pbmit-link-color-hover: #ecab23;
	--pbmit-responsive-breakpoint: 1200px;

	--pbmit-body-typography-font-family: "Be Vietnam Pro", sans-serif;
	--pbmit-body-typography-variant: regular;
	--pbmit-body-typography-font-size: 17px;
	--pbmit-body-typography-line-height: 1.6;
	--pbmit-body-typography-color: #7c898d;
	
	--pbmit-heading-typography-font-family: "Plus Jakarta Sans", sans-serif;
	--pbmit-heading-color: #1e3238;
	--pbmit-heading-font-variant: 600;
	
	--pbmit-btn-typography-font-family: "Plus Jakarta Sans", sans-serif;
	--pbmit-btn-typography-variant: 600;
	--pbmit-btn-typography-font-size: 15px;
	--pbmit-btn-typography-line-height: 16px;
}

/*----------------------------------------*/
/* 00 - General 
/*----------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	overflow-x: hidden;
}
p {
	margin: 0 0 25px;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden], template {
	display: none;
}
a {
	background-color: transparent;
}
abbr[title] {
	border-bottom: 1px dotted;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
code, kbd, pre, samp {
	font-size: 1em;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
select {
	text-transform: none;
}
button {
	overflow: visible;
}
button, input, select, textarea {
	max-width: 100%;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
	opacity: .5;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	padding: 0.875em;
}
fieldset > :last-child {
	margin-bottom: 0;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
optgroup {
	font-weight: bold;
}
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, .form-control:focus {
	outline:0px !important;
	-webkit-appearance:none;
	box-shadow: none !important;
}
.form-select{
	font-size: 14px;
	font-weight: 500;
	padding: 0 20px 0 30px;
	height: 60px;
	border-radius: 50px;
	cursor: pointer;
	color: #666;
	background-color: var(--pbmit-blackish-color);
	background-image: url(../images/bg/down-arrow.png);
	background-size: 11px 13px;
}
.form-select:focus {
	outline: none;
	box-shadow: none;
}
/*----------------------------------------*/
/* 01 - Typography 
/*----------------------------------------*/
body {
	font-family:var(--pbmit-body-typography-font-family);
	font-weight: var(--pbmit-body-typography-variant);
	color: var(--pbmit-body-typography-color);
	font-size: var(--pbmit-body-typography-font-size);
	line-height: var(--pbmit-body-typography-line-height);
	color: var(--pbmit-body-typography-color);
	text-transform: none;
	font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-family:var(--pbmit-heading-typography-font-family);
	font-weight: var(--pbmit-heading-font-variant);
	color: var(--pbmit-heading-color);
}
h1 {
	font-size: 58px;
	line-height: 65px;
	letter-spacing: 0px;
}
h2 {
	font-size: 48px;
	line-height: 53px;
	letter-spacing: 0px;
}
h3 {
	font-size: 40px;
	line-height: 45px;
	letter-spacing: 0px;
}
h4 {
	font-size: 34px;
	line-height: 40px;
	letter-spacing: 0px;
}
h5 {
	font-size: 28px;
	line-height: 32px;
	letter-spacing: 0px;
}
h6 {
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	color: var(--pbmit-link-color-normal);
	text-decoration: none;
}
a:focus {
	text-decoration: none !important;
}
a:focus, a:hover {
	color: var(--pbmit-link-color-hover);
	text-decoration: none !important;
}
a.link-btn, .link-btn a{
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}
a.link-btn i, .link-btn a i{
	padding-left: 10px;
}
.pbmit-btn{
	position: relative;
	padding: 14px 15px 13px 25px;
    display: inline-flex;
	font-family: var(--pbmit-btn-typography-font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0px;
    text-transform: capitalize;
    font-style: normal;
	border-radius: 5px;
    overflow: hidden;
    transition: all 0.6s ease;
	color: var(--pbmit-white-color);
	background-color: var(--pbmit-global-color);
}
.pbmit-btn .pbmit-button-content-wrapper{
	display: inline-flex;
	flex-direction: row;
    gap: 5px;
    justify-content: center;
}
.pbmit-btn .pbmit-button-text-wrap{
	display: inline-block;
}
.pbmit-btn .pbmit-button-text-wrap .pbmit-button-text{
	display: block;
    transition: all ease 0.4s;
    transform-style: preserve-3d;
}
.pbmit-btn .pbmit-button-text span{
	display: flex;
    align-items: center;
    padding-right: 45px;
    padding-left: 2px;
    position: relative;
	transform-style: preserve-3d;
    transition: all 0.4s ease;
}
.pbmit-btn .pbmit-button-text span:before{
	content: "\e82f";
    font-family: "pbminfotech-base-icons";
    position: relative;
    top: 0;
    left: 2px;
    width: 1em;
    font-size: 10px;
    height: auto;
    z-index: 1;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 50px;
    background-color: var(--pbmit-white-color);
    color: var(--pbmit-blackish-color);
    margin-left: 12px;
    transition: all 0.4s ease;
    order: -2;
    opacity: 0;
    transform: translateX(-1em);
    margin-left: -35px;
    display: inline-block;
}
.pbmit-btn .pbmit-button-text span:after{
	content: "\e82f";
    font-family: "pbminfotech-base-icons";
    position: absolute;
    top: 0;
    right: 2px;
    width: 1em;
    font-size: 10px;
    height: auto;
    z-index: 1;
    width: 33px;
    height: 33px;
    line-height: 33px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    background-color: var(--pbmit-white-color);
    color: var(--pbmit-blackish-color);
    margin-left: 12px;
    transition: all 0.4s ease;
}
.pbmit-btn:hover {
	padding: 14px 25px 13px 15px;
	color: var(--pbmit-white-color);
}
.pbmit-btn:hover .pbmit-button-text span{
	padding-right: 0;
}
.pbmit-btn:hover .pbmit-button-text span:before{
	opacity: 1;
    transform: translateX(0);
    transition: all 0.4s ease;
    margin-left: 0px;
    margin-right: 10px;
}
.pbmit-btn:hover .pbmit-button-text span:after{
	transform: translateX(4em);
    opacity: 0;
    transition: all 0.4s ease;
}
.pbmit-btn.blackish{
	background-color: var(--pbmit-blackish-color);
}
.pbmit-btn.blackish:hover{
	background-color: var(--pbmit-global-color);
}
.pbmit-btn.white{
	color: var(--pbmit-blackish-color);
	background-color: var(--pbmit-white-color);
}
.pbmit-btn.white .pbmit-button-text span:after{
	color: var(--pbmit-white-color);
	background-color: var(--pbmit-blackish-color);
}
.pbmit-btn.white:hover{
	color: var(--pbmit-white-color);
	background-color: var(--pbmit-global-color);
}
.pbmit-btn.outline{
	color: var(--pbmit-blackish-color);
	background-color: transparent;
	border: 2px solid var(--pbmit-blackish-color);
}
.pbmit-btn.outline .pbmit-button-text span:after,
.pbmit-btn.outline .pbmit-button-text span:before{
	color: var(--pbmit-white-color);
	background-color: var(--pbmit-blackish-color);
}
.pbmit-bg-color-blackish .pbmit-btn,
.pbmit-bg-color-secondary .pbmit-btn{
	color: var(--pbmit-blackish-color);
	background-color: var(--pbmit-white-color);
}
.pbmit-bg-color-blackish .pbmit-btn .pbmit-button-text span:after,
.pbmit-bg-color-secondary .pbmit-btn .pbmit-button-text span:after{
	background-color: var(--pbmit-global-color);
}
.pbmit-bg-color-blackish .pbmit-btn:hover,
.pbmit-bg-color-secondary .pbmit-btn:hover{
	color: var(--pbmit-white-color);
	background-color: var(--pbmit-global-color);
}
.pbmit-btn:focus{
	color: var(--pbmit-white-color);
}
.pbmit-bg-color-blackish .pbmit-btn:focus,
.pbmit-btn.white:focus{
	color: var(--pbmit-blackish-color);
}
.pbmit-btn .form-btn-loader svg,
button .form-btn-loader svg{
    width: 50px;
}
/** Divider **/
.sep-line{
	height: 1px;
	border-top: 1px solid #ebebeb;
	display: block;
	position: relative;
	top: 1px;
	width: 100%;
}

/*----------------------------------------*/
/* 02 - Background Color 
/*----------------------------------------*/
body .pbmit-bg-color-global{
	background-color: var(--pbmit-global-color);
}
body .pbmit-bg-color-secondary{
	background-color: var(--pbmit-secondary-color);
}
body .pbmit-bg-color-blackish{
	background-color: var(--pbmit-blackish-color);
}
body .pbmit-bg-color-white{
	background-color: var(--pbmit-white-color);
}
body .pbmit-bg-color-light{
	background-color: var(--pbmit-light-color);
}
body .pbmit-global-color{
     color: var(--pbmit-global-color);
}
body .pbmit-blackish-color{
	color: var(--pbmit-blackish-color);
}
body .pbmit-secondary-color{
	color: var(--pbmit-secondary-color);
}

/*----------------------------------------*/
/* 03 - Background Position & Size 
/*----------------------------------------*/
.bg-cover{
    background-size: cover;
}
.bg-contain{
    background-size: contain;
}
.bg-pos-l{
    background-position: left;
}
.bg-pos-r{
    background-position: right;
}
.bg-pos-rt{
    background-position: right top;
}
.bg-pos-lt{
    background-position: left top;
}
.bg-pos-rb{
    background-position: right bottom;
}
.bg-pos-lb{
    background-position: left bottom;
}

/*----------------------------------------*/
/* 04 - Helper Class 
/*----------------------------------------*/
.section-xxl{
	padding-top: 115px;
	padding-bottom: 100px;
}
.section-xl{
	padding-top: 110px;
	padding-bottom: 100px;
}
.section-lg{
	padding-top: 120px;
	padding-bottom: 80px;
}
.section-md{
	padding-top: 100px;
	padding-bottom: 70px;
}
.section-sm{
	padding-top: 80px;
	padding-bottom: 80px;
}
.section-xlt{
	padding-top: 115px;
}
.section-lgt{
	padding-top: 100px;
}
.section-mdt{
	padding-top: 90px;
}
.section-lgb{
	padding-bottom: 120px;
}
.section-mdb{
	padding-bottom: 100px;
}
.br-5{
	border-radius: 5px;
}
.gap-30{
	gap: 30px;
}

/*----------------------------------------*/
/* 05 - Social icons 
/*----------------------------------------*/
ul.pbmit-social-links, 
ul.pbmit-contact-info{
	margin: 0;
    padding: 0;
    list-style: none;
}
.pbmit-social-links li, 
.pbmit-contact-info li {
    display: inline-block;
    vertical-align: top;
}
.pbmit-social-links li:not(:last-child){
	padding: 0 15px 0 0;
}
/*----------------------------------------*/
/* 06 - Header 
/*----------------------------------------*/
.navbar-brand .navbar-brand-item {
	height: 60px;
	display: block;
    width: auto;
}
.site-header{
    position: relative;
}
.site-header .site-branding img {
	width: 145px;
}
.main-menu .navigation > li > ul > a:after{
	display: none;
}
.main-menu .navigation > li {
	position: relative;
	float: left;
	margin: 0px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.main-menu .navigation > li > ul > li > ul {
	left: 100%;
	top: 0;
}
.main-menu .navigation > li.dropdown:hover > ul , .main-menu .navigation > li > ul > li.dropdown:hover > ul {
	visibility: visible;
	opacity: 1;
	clip: inherit;
	transform: perspective(500px) rotateX(0);
	z-index: 999;
}
.site-header .search-btn{
	margin-right: 15px;
	font-size: 17px;
}
.site-header .social-icons li > a{
	height: 50px;
	line-height: 50px;
}
.ipad-view-search{
    display: none;
}
.pbmit-link li{
    margin: 0 10px;
}
.closepanel, .pbmit-mobile-menu-bg, .site-header .righticon {
    display: none;
}
/* Pre Header */
.pbmit-pre-header-wrapper{
    height: 60px;
    line-height: 60px;
    color: var(--pbmit-white-color);
}

/*----------------------------------------*/
/* 07 - Bootstrap Overwrite 
/*----------------------------------------*/
.g-lg-4,.gy-lg-4, .g-4, .gy-4 {
	--bs-gutter-y: 2rem;
}
.g-lg-4,.gx-lg-4, .g-4, .gx-4 {
	--bs-gutter-x: 2rem;
}
.row>* {
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
}

/*----------------------------------------*/
/* 08 - Swiper 
/*----------------------------------------*/
.swiper-slider{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.swiper-pagination-bullet {
	position: relative;
    outline: none;
    height: 12px;
    width: 12px;
	top: 0px;
	left: 0px;
    vertical-align: middle;
	border-radius: 50%;
	margin: 0px 4px !important;
	display: inline-block;
	background: #7C898D;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	opacity: 1;
	background: var(--pbmit-global-color);
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 30px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper-slider[data-dots="true"] {
    padding-bottom: 50px;
}
 .swiper-button-next:after, .swiper-button-prev:after {
	content: "\e814";
    font-family: "pbminfotech-base-icons";
	display: block;
    font-size: 23px;
	line-height: inherit;
}
 .swiper-button-prev, .swiper-rtl .swiper-button-next {
    transform: rotate(180deg);
	background-color: var(--pbmit-secondary-color);
}
 .swiper-button-next, .swiper-button-prev{
	position: absolute;
    text-align: center;
    justify-content: center;
    width: 52px;
    height: 52px;
	z-index: 1;
    border-radius: 50%;
    color: var(--pbmit-secondary-color);
	background-color: transparent;
    transition: all .25s ease-in-out;
	border: 1px solid rgba(var(--pbmit-blackish-color-rgb),.1);
}
.swiper-button-prev{
	left: auto;
	right: 60px;
}
.swiper-button-next{
	right: 0;
}
.swiper-button-next:hover, 
.swiper-button-prev:hover{
	color: var(--pbmit-white-color);
	background-color: var(--pbmit-blackish-color);
}
.swiper-button-prev.swiper-button-disabled{
	opacity: 1;
	cursor: pointer;
	pointer-events: auto;
}
.pbmit-bg-color-blackish .swiper-button-prev,
.pbmit-bg-color-blackish .swiper-button-next,
.pbmit-bg-color-secondary .swiper-button-prev,
.pbmit-bg-color-secondary .swiper-button-next{
	color: var(--pbmit-white-color);
	border-color: rgba(var(--pbmit-white-color-rgb),.5);
}
.pbmit-bg-color-blackish .swiper-button-prev:hover,
.pbmit-bg-color-blackish .swiper-button-next:hover,
.pbmit-bg-color-secondary .swiper-button-prev:hover,
.pbmit-bg-color-secondary .swiper-button-next:hover{
	color: var(--pbmit-white-color);
	border-color: var(--pbmit-global-color);
	background-color: var(--pbmit-global-color);
}
.pbmit-bg-color-light .swiper-button-prev:not(:hover),
.pbmit-bg-color-light .swiper-button-next:not(:hover){
	background-color: var(--pbmit-white-color);
}
.swiper-slider.marquee .swiper-slide {
    display: flex;
    width: auto!important;
}
.swiper-slider.marquee .swiper-wrapper{
    -webkit-transition-timing-function:linear !important; 
    -o-transition-timing-function:linear !important; 
    transition-timing-function:linear !important; 
}
/*----------------------------------------*/
/* 09 - Scroll To Top 
/*----------------------------------------*/
@keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  
.pbmit-backtotop {
	position: fixed;
	bottom: -50px;
	right: 35px;
	width: 50px;
	height: 50px;
	font-size: 24px;
	border-radius: 25px;
	text-align: center;
	opacity: 0;
	overflow: hidden;
	z-index: 9999999;
	color: var(--pbmit-white-color);
	background: var(--pbmit-global-color);
	border: 2px solid var(--pbmit-white-color);
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pbmit-backtotop.active {
	bottom: 15px;
	opacity: 1;
}
.pbmit-backtotop > div {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pbmit-backtotop > div.pbmit-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	opacity: 1;
}
.pbmit-backtotop > div.pbmit-hover-arrow {
	font-size: 24px;
	line-height: 24px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(50%) translateX(-50%);
	opacity: 0;
	margin-top: 1px;
}
.pbmit-backtotop:hover {
	transform: scale(1.1);
	bottom: 20px;
	cursor: pointer;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}
.pbmit-backtotop:hover > div.pbmit-arrow {
	transform: translateY(-150%) translateX(-50%);
	opacity: 0;
}
.pbmit-backtotop:hover > div.pbmit-hover-arrow {
	transform: translateY(-50%) translateX(-50%);
	opacity: 1;
}

/*----------------------------------------*/
/*  10 - Search Box
/*----------------------------------------*/
 .pbmit-header-search-form {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
	transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.pbmit-header-search-form .pbmit-search-close {
	position: absolute;
	top: 0;
	right: 60px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border-width: 11px;
	z-index: 99;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	animation-delay: 0.3s;
	opacity: 0;
	visibility: hidden;
	-webkit-border-radius: 45px;
	border-radius: 45px;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.pbmit-header-search-form .pbmit-search-close:before,
.pbmit-header-search-form .pbmit-search-close:after {
	background-color: var(--pbmit-white-color);
}
.pbmit-header-search-form .pbmit-header-search-form-wrapper {
	position: absolute;
	padding: 0 30px;
	top: -500px;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 500px;
	will-change: top, box-shadow;
	background-color: rgba(var(--pbmit-blackish-color-rgb), 0.8);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 000000.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	transition: top 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-out;
}
.pbmit-header-search-form .pbmit-header-search-form-wrapper form {
	position: relative;
	max-width: 1300px;
	margin: 0 auto;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.pbmit-header-search-form .pbmit-header-search-form-wrapper form .search-field {
	height: 80px;
	padding: 0 50px 0 20px;
	font-size: 24px;
	font-weight: 400;
	border: none;
	background-color: transparent;
	color: var(--pbmit-white-color);
}
.pbmit-header-search-form .pbmit-header-search-form-wrapper form .search-field:focus {
	background: none;
}
.pbmit-header-search-form .pbmit-header-search-form-wrapper form .search-submit {
	position: absolute;
	top: 50%;
	right: 0;
	text-align: right;
	border: none;
	background: none;
	font-size: 25px;
	line-height: 92px;
	color: var(--pbmit-white-color);
	opacity: 0.9;
	padding: 0;
	z-index: 99;
	cursor: pointer;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.pbmit-header-search-form .pbmit-search-line {
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: var(--pbmit-white-color);
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
	animation-delay: 0.8s;
	visibility: hidden;
	transform-origin: left center;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}
.pbmit-header-search-form .pbmit-search-overlay{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba( var(--pbmit-blackish-color-rgb), 0.6);
	z-index: -1;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.pbmit-header-search-form.active {
	opacity: 1;
	visibility: visible;
}
.pbmit-header-search-form.active .pbmit-search-close {
	top: 60px;
	-webkit-animation-name: pbmit_fade_in;
	animation-name: pbmit_fade_in;
	opacity: 1;
	visibility: visible;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.pbmit-header-search-form.active .pbmit-header-search-form-wrapper {
	top: 0;
	-webkit-transition: top 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-out;
	transition: top 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s ease-out;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}
.pbmit-header-search-form.active .pbmit-header-search-form-wrapper form {	
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	opacity: 1;
	visibility: visible;
	-webkit-animation-name: pbmit_fade_in;
	animation-name: pbmit_fade_in;
}
.pbmit-header-search-form.active .pbmit-search-line {
	-webkit-animation-name: pbmit_fade_in_move;
	animation-name: pbmit_fade_in_move;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	visibility: visible;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
}
.pbmit-search-animation-out .pbmit-header-search-form .pbmit-header-search-form-wrapper form {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-name: pbmit_fadeout;
	animation-name: pbmit_fadeout;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}
.pbmit-search-animation-out .pbmit-header-search-form .pbmit-header-search-form-wrapper form .pbmit-search-line {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	visibility: visible;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	animation-delay: 0.1s;
	-webkit-animation-name: pbmit_fade_move_out;
	animation-name: pbmit_fade_move_out;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}
.pbmit-search-animation-out .pbmit-header-search-form .pbmit-search-close {	
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	visibility: visible;
	-webkit-animation-name: pbmit_fadeout;
	animation-name: pbmit_fadeout;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}
@keyframes pbmit_fade_move_out {
	0% {
		opacity: .8;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	100% {
		opacity: .14;
		-webkit-transform: scale3d(0, 1, 1);
		transform: scale3d(0, 1, 1)
	}
}
@keyframes pbmit_fade_in_move {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0, 1, 1);
		transform: scale3d(0, 1, 1);
	}
	10% {
		opacity: 1;
		-webkit-transform: scale3d(0.1, 1, 1);
		transform: scale3d(0.1, 1, 1);
	}
	100% {
		opacity: 0.14;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes pbmit_fade_move_out {
	0% {
		opacity: 0.8;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0.14;
		-webkit-transform: scale3d(0, 1, 1);
		transform: scale3d(0, 1, 1);
	}
}
@keyframes scale {
	25% {
		transform: scale(1.1);
	}
	75% {
		transform: scale(0.9);
	}
}
@keyframes pbmit_fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.pbmit-header-search-form-wrapper .search-form button::after {
	font-family: "pbminfotech-base-icons";
	content: '\e822';
	position: absolute;
	right: 10px;
	top: 15px;
	color: var(--pbmit-white-color);
	font-size: 25px;
	line-height: normal;
}
.pbmit-header-search-form-wrapper .search-form button::before {
	display: none;
}
.pbmit-header-search-form-wrapper .search-form input[type="search"]::placeholder {
	color: #a4a4a4;
	opacity: 1;
}
.pbmit-header-search-form-wrapper .search-form input[type="search"]:-ms-input-placeholder {
	color: #a4a4a4;
}
.pbmit-header-search-form-wrapper .search-form input[type="search"]::-ms-input-placeholder {
	color: #a4a4a4;
}
.pbmit-header-search-form-wrapper .search-form [type=submit] {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0;
	right: 0;
	background-color: transparent;
	text-indent: -9999px;
}
.pbmit-header-search-form-wrapper .pbmit-search-close {
	position: absolute;
	top: 40px;
	right: 40px;
	border-color: var(--pbmit-white-color);
	color: var(--pbmit-white-color);
	opacity: 0.8;
	font-size: 30px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	-ms-transition: .4s;
	transition: .4s;
	text-align: center;
	cursor: pointer;
}
.pbmit-header-search-form-wrapper .pbmit-search-close:hover {
	opacity: 1;
}
@keyframes pbmit-closer-line-draw {
	0%,100% {
		clip-path:inset(-1px 0 -1px 0);
		-webkit-clip-path:inset(-1px 0 -1px 0);
	}
	55% {
		clip-path:inset(-1px 0 -1px 100%);
		-webkit-clip-path:inset(-1px 0 -1px 100%);
	}
	56% {
		clip-path:inset(-1px 100% -1px 0);
		-webkit-clip-path:inset(-1px 100% -1px 0);
	}
}
.pbmit-header-search-form-wrapper .pbmit-search-close:hover svg rect {
	animation: pbmit-closer-line-draw .6s;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
	animation-name: pbmit-closer-line-draw;
}
.pbmit-header-search-form-wrapper .pbmit-search-close:hover svg rect:nth-of-type(2) {
	animation-delay: .17s;
}
.pbmit-header-search-form-wrapper .pbmit-search-close svg rect {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.pbmit-header-search-form-wrapper .pbmit-search-close svg {
	fill: var(--pbmit-white-color);
}