@font-face {
    font-family: "pbmit_gudfin";
    src: url("../fonts/pbmit_gudfin.woff2") format("woff2"),
url("../fonts/pbmit_gudfin.woff") format("woff"),
url("../fonts/pbmit_gudfin.eot#iefix") format("embedded-opentype"),
url("../fonts/pbmit_gudfin.ttf") format("truetype"),
url("../images/pbmit_gudfin.svg#pbmit_gudfin") format("svg")
}

i[class^="pbmit-gudfin-"]:before, i[class*=" pbmit-gudfin-icon-"]:before {
    font-family: pbmit_gudfin !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pbmit-gudfin-icon-presentation:before {
    content: "\f101";
}
.pbmit-gudfin-icon-progress:before {
    content: "\f102";
}
.pbmit-gudfin-icon-presentation-1:before {
    content: "\f103";
}
.pbmit-gudfin-icon-presentation-2:before {
    content: "\f104";
}
.pbmit-gudfin-icon-affiliate:before {
    content: "\f105";
}
.pbmit-gudfin-icon-presentation-3:before {
    content: "\f106";
}
.pbmit-gudfin-icon-contact-book:before {
    content: "\f107";
}
.pbmit-gudfin-icon-uptrend:before {
    content: "\f108";
}
.pbmit-gudfin-icon-printer:before {
    content: "\f109";
}
.pbmit-gudfin-icon-shopping-cart:before {
    content: "\f10a";
}
.pbmit-gudfin-icon-banknote:before {
    content: "\f10b";
}
.pbmit-gudfin-icon-presentation-4:before {
    content: "\f10c";
}
.pbmit-gudfin-icon-credit-card:before {
    content: "\f10d";
}
.pbmit-gudfin-icon-downtrend:before {
    content: "\f10e";
}
.pbmit-gudfin-icon-shopping-bag:before {
    content: "\f10f";
}
.pbmit-gudfin-icon-euro-coin:before {
    content: "\f110";
}
.pbmit-gudfin-icon-paper:before {
    content: "\f111";
}
.pbmit-gudfin-icon-businessman:before {
    content: "\f112";
}
.pbmit-gudfin-icon-wallet:before {
    content: "\f113";
}
.pbmit-gudfin-icon-money-bag:before {
    content: "\f114";
}
.pbmit-gudfin-icon-piggy-bank:before {
    content: "\f115";
}
.pbmit-gudfin-icon-pie-chart:before {
    content: "\f116";
}
.pbmit-gudfin-icon-document:before {
    content: "\f117";
}
.pbmit-gudfin-icon-calendar:before {
    content: "\f118";
}
.pbmit-gudfin-icon-calculator:before {
    content: "\f119";
}
.pbmit-gudfin-icon-chart:before {
    content: "\f11a";
}
.pbmit-gudfin-icon-dollar:before {
    content: "\f11b";
}
.pbmit-gudfin-icon-euro:before {
    content: "\f11c";
}
.pbmit-gudfin-icon-dollar-coin:before {
    content: "\f11d";
}
.pbmit-gudfin-icon-suitcase:before {
    content: "\f11e";
}
.pbmit-gudfin-icon-light-bulb:before {
    content: "\f11f";
}
.pbmit-gudfin-icon-gold-ingots:before {
    content: "\f120";
}
.pbmit-gudfin-icon-chart-1:before {
    content: "\f121";
}
.pbmit-gudfin-icon-percent:before {
    content: "\f122";
}
.pbmit-gudfin-icon-percent-1:before {
    content: "\f123";
}
.pbmit-gudfin-icon-clipboard:before {
    content: "\f124";
}
.pbmit-gudfin-icon-bank:before {
    content: "\f125";
}
.pbmit-gudfin-icon-chair:before {
    content: "\f126";
}
.pbmit-gudfin-icon-balance:before {
    content: "\f127";
}
.pbmit-gudfin-icon-safe-box:before {
    content: "\f128";
}
.pbmit-gudfin-icon-drawer:before {
    content: "\f129";
}
.pbmit-gudfin-icon-exchange:before {
    content: "\f12a";
}
.pbmit-gudfin-icon-exchange-1:before {
    content: "\f12b";
}
.pbmit-gudfin-icon-price-tag:before {
    content: "\f12c";
}
.pbmit-gudfin-icon-dollar-tag:before {
    content: "\f12d";
}
.pbmit-gudfin-icon-euro-tag:before {
    content: "\f12e";
}
.pbmit-gudfin-icon-store:before {
    content: "\f12f";
}
.pbmit-gudfin-icon-mining:before {
    content: "\f130";
}
.pbmit-gudfin-icon-award:before {
    content: "\f131";
}
.pbmit-gudfin-icon-exchange-rate:before {
    content: "\f132";
}
.pbmit-gudfin-icon-euro-1:before {
    content: "\f133";
}
.pbmit-gudfin-icon-safe:before {
    content: "\f134";
}
.pbmit-gudfin-icon-bell-curve:before {
    content: "\f135";
}
.pbmit-gudfin-icon-briefcase:before {
    content: "\f136";
}
.pbmit-gudfin-icon-atm:before {
    content: "\f137";
}
.pbmit-gudfin-icon-bank-card:before {
    content: "\f138";
}
.pbmit-gudfin-icon-pie-chart-1:before {
    content: "\f139";
}
.pbmit-gudfin-icon-bitcoin:before {
    content: "\f13a";
}
.pbmit-gudfin-icon-calculator-1:before {
    content: "\f13b";
}
.pbmit-gudfin-icon-data-chart:before {
    content: "\f13c";
}
.pbmit-gudfin-icon-data-chart-1:before {
    content: "\f13d";
}
.pbmit-gudfin-icon-dollar-1:before {
    content: "\f13e";
}
.pbmit-gudfin-icon-data-chart-2:before {
    content: "\f13f";
}
.pbmit-gudfin-icon-data-chart-3:before {
    content: "\f140";
}
.pbmit-gudfin-icon-counting:before {
    content: "\f141";
}
.pbmit-gudfin-icon-money:before {
    content: "\f142";
}
.pbmit-gudfin-icon-pie-chart-2:before {
    content: "\f143";
}
.pbmit-gudfin-icon-pie-chart-3:before {
    content: "\f144";
}
.pbmit-gudfin-icon-pyramid-chart:before {
    content: "\f145";
}
.pbmit-gudfin-icon-decline:before {
    content: "\f146";
}
.pbmit-gudfin-icon-increase:before {
    content: "\f147";
}
.pbmit-gudfin-icon-yuan:before {
    content: "\f148";
}
.pbmit-gudfin-icon-menu:before {
    content: "\f149";
}
.pbmit-gudfin-icon-phone-call:before {
    content: "\f14a";
}
.pbmit-gudfin-icon-check:before {
    content: "\f14b";
}
.pbmit-gudfin-icon-arrow:before {
    content: "\f14c";
}
.pbmit-gudfin-icon-top:before {
    content: "\f14d";
}
.pbmit-gudfin-icon-mail:before {
    content: "\f14e";
}
.pbmit-gudfin-icon-location:before {
    content: "\f14f";
}
.pbmit-gudfin-icon-straight-quotes:before {
    content: "\f150";
}

